/* Container */
.content_grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2vw;
    height: calc(100vh - 16vh);
    width: 100%;
    padding: 1vw 3vw;
    box-sizing: border-box;
    color: var(--text_primary);
    font-family: var(--text_font);
    background: rgba(0, 0, 0, 0.0);
    z-index: 11;
}

/* Sections */
.content_section {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    min-width: 0;
}

.placeholder_section {
    flex-grow: 1;
    min-height: 1px;
    width: 100%;
}

/* Titles */
.content_title {
    width: 100%;
}
.content_title h3 {
    width: 100%;
    display: flex;
    color: var(--text_primary);
    font-family: var(--header_font);
    font-size: 1.8rem;
    padding: 1px;
    padding-bottom: 0.5vh;
    padding-right: 0.5vh;
    font-weight: normal;
    position: relative;
    margin-bottom: 1vh;
    text-shadow: var(--text_shadow);
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.content_title h3::after {
    position: absolute;
    bottom: 0.1vh;
    left: 0;
    content: "";
    width: 100%;
    height: 0.1vh;
    background: var(--text_tertiary);
}

.content_title span {
    background: var(--background_panel);
    padding: 0.5vh 1vh;
    font-size: 0.85rem;
    border-radius: var(--border_radius_inner);
    border: var(--border_dashed);
    display: flex;
    align-items: center;
}

.content_title span i {
    margin-right: 0.5vh;
    font-size: 0.75rem;
}

/* Body */
.content_body {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
