/*
--------------------------------------------------

This file is part of PLUCK.
You are free to use these files within your own resources.
Please retain the original credit and attached MIT license.
Support honest development.

Author: Case @ BOII Development
License: https://github.com/boiidevelopment/pluck/blob/main/LICENSE
GitHub: https://github.com/playingintraffic/pluck

--------------------------------------------------
*/

/* Container */
#sidebar_container {
    position: absolute;
    height: calc(100vh - 16vh);
    width: 100%;
    z-index: 13;
    display: flex;
    align-items: center;
    pointer-events: none;
}

/* Sidebar */
.sidebar {
    position: absolute;
    height: fit-content;
    max-height: calc(90vh - 16vh);
    background: var(--gradient_fade_center);
    padding: 1vh 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    scrollbar-width: none;
    min-width: 14vw;
    max-width: 18vw;
    pointer-events: auto;
}

.sidebar::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, transparent, var(--accent), transparent);
    opacity: 0.7;
}

.sidebar::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, transparent, var(--accent), transparent);
    opacity: 0.7;
}

.sidebar.right {
    right: 2vw;
}

.sidebar.left {
    left: 2vw;
}

/* Titles */
.sidebar_title {
    font-family: var(--header_font);
    font-size: 1.5rem;
    padding: 0 2vh;
    padding-bottom: 0.8vh;
    color: var(--text_primary);
    border-bottom: var(--border_light);
    text-transform: uppercase;
    text-align: center;
}

/*  Body */
.sidebar_body {
    padding: 1vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

/* Items */
.sidebar_item_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.sidebar_item {
    display: flex;
    align-items: center;
    gap: 1vh;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 1vh;
    border: 0.2vh solid transparent;
    background: var(--background_panel);
    border-radius: var(--border_radius_inner);
    box-shadow: var(--shadow_soft);
}

.sidebar_item:hover {
    background: var(--background_main);
    border: var(--border_dashed);
}

/* Icons */
.sidebar_icon {
    width: 2vh;
    height: 2vh;
    object-fit: contain;
    flex-shrink: 0;
    color: var(--text_primary);
}

/* Text */
.sidebar_text {
    font-family: var(--text_font);
    font-size: 1rem;
    color: var(--text_primary);
}

/* Buttons */
.sidebar_button_group {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

/* Submenu */
.sidebar_submenu {
    margin-left: 2vh;
    padding-left: 1vh;
    border-left: var(--border_light);
    display: none;
    flex-direction: column;
    gap: 0.5vh;
    margin-top: 0.5vh;
}

/* Submenu Items */
.sidebar_subitem {
    display: flex;
    align-items: center;
    gap: 1vh;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 0.8vh 1vh;
    background: transparent;
}

.sidebar_subitem:hover {
    background: var(--background_hover);
}

.sidebar_subitem .sidebar_text {
    font-size: 0.9rem;
    color: var(--text_primary);
}