/*
--------------------------------------------------

This file is part of PLUCK.
You are free to use these files within your own resources.
Please retain the original credit and attached MIT license.
Support honest development.

Author: Case @ BOII Development
License: https://github.com/boiidevelopment/pluck/blob/main/LICENSE
GitHub: https://github.com/playingintraffic/pluck

--------------------------------------------------
*/

.action_menu_container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.actions.left, 
.actions.right {
    display: flex;
    flex-direction: column;
    margin: 0 1vh;
    flex: 1;
    flex-wrap: wrap;
}

.actions.left {
    align-items: flex-end;
}

.actions.right {
    align-items: flex-start; 
}

.action {
    display: flex;
    position: relative;
    width: fit-content;
    margin-right: 1.5vh;
    margin-left: 1.5vh;
}

.action .label_container {
    display: inline-flex;
    align-items: center;
    text-align: center;
    width: fit-content;
    border-radius: var(--border_radius_outer);
    justify-content: space-between;
    gap: 1vh;
    opacity: 0.95;
    padding: 1vh;
}

.action .label_container:hover {
    opacity: 1;
    cursor: pointer;
}

.action .label {
    padding: 0.7vh 2vh;
    border-radius: var(--border_radius_inner);
    border: var(--border_dashed);
    white-space: nowrap;
    font-size: 0.8rem;
    background-color: var(--background_main);
    color: var(--text_primary);
    font-family: var(--text_font_family);
    box-shadow: var(--shadow_medium);
}

.action .icon {
    background-color: var(--background_main);
    border-radius: var(--border_radius_inner);
    border: var(--border_dashed);
    padding: 0.75vh 1vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    box-shadow: var(--shadow_medium);
    color: var(--accent);
}

.center_button {
    background: var(--background_main);
    border-radius: var(--border_radius_inner);
    border: var(--border_dashed);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: var(--text_primary);
    opacity: 0.95;
    user-select: none;
    box-shadow: var(--shadow_medium);
    color: var(--accent);
    padding: 0.75vh 1vh;
}

.center_button:hover {
    opacity: 1;
    cursor: pointer;
}

.center_button i {
    margin-left: 1px;
    margin-top: 3px;
    padding: 1px;
}
