/*
--------------------------------------------------

This file is part of PLUCK.
You are free to use these files within your own resources.
Please retain the original credit and attached MIT license.
Support honest development.

Author: Case @ BOII Development
License: https://github.com/boiidevelopment/pluck/blob/main/LICENSE
GitHub: https://github.com/playingintraffic/pluck

--------------------------------------------------
*/

#dui_container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index: 1010;
    display: flex;
    align-items: center;
    justify-content: center;
}

.interact_ui {
    position: relative;
    height: fit-content;
    min-width: fit-content;
    max-width: 20vw;
    background: var(--gradient_fade_center);
    color: var(--text_primary);
    border-radius: var(--border_radius_outer);
    font-size: 1rem;
    pointer-events: none;
    font-family: var(--text_font);
    font-style: normal;
    padding: 1vh 4vh;
}

.interact_ui::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--accent), transparent);
    opacity: 0.7;
}

.interact_ui::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--accent), transparent);
    opacity: 0.7;
}

.interact_header {
    display: flex;
    align-items: center;
    gap: 1vh;
    width: 100%;
    text-transform: uppercase;
    position: relative;
    padding-left: 0.2vh;
    padding-top: 1vh;
    padding-bottom: 1.3vh;
}

.header_text {
    padding-right: 2vw;
    font-size: 1.2rem;
}

.interact_header i {
    font-size: 1rem;
}

.dui_image {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.keys_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5vh;
    align-items: flex-start;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 1.5vh;
    padding-bottom: 1vh;
}

.dui_keys {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dui_keys.full_row {
    grid-column: span 2;
}

.dui_key {
    background: var(--background_main);
    border: var(--border_dashed);
    border-radius: var(--border_radius_outer);
    padding: 0.2vh 0.8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text_primary);
    opacity: 0.9;
    margin: 0.35vh 0;
    margin-right: 1vh;
    white-space: nowrap;
    font-size: 1rem;
    text-transform: uppercase;
}

.progress_containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vh;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 1.75vh;
    padding-bottom: 1.75vh;
}

.progress_item h3 {
    margin-bottom: 0.5vh;
    font-size: inherit;
    position: relative;
    display: flex;
    font-weight: normal;
    padding-left: 0.8vh;
    padding-bottom: 0.1vh;
    font-size: 1rem;
    border-bottom: var(--border_dashed);
}

.progress_item h3::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0.3vh;
    height: 100%;
    background: var(--accent);
    opacity: 0.8;
}

.progress_item {
    width: 100%;
}

.progress_item.full_row {
    grid-column: span 2;
}

.interact_progress_header {
    position: absolute;
    display: flex;
    width: 96%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.interact_progress_bar {
    width: 100%;
    height: 2vh;
    background: var(--background_overlay);
    border-radius: var(--border_radius_inner);
    box-shadow: var(--inset_shadow_small);
    position: relative;
    overflow: hidden;
    margin-top: 1vh;
}

.interact_progress_bar_fill {
    height: 100%;
    border-radius: var(--border_radius_inner);
    box-shadow: var(--inset_shadow_large);
    background: var(--accent);
    transition: width 0.3s ease;
}

.values_list {
    list-style: none;
    color: var(--text_colour);
    position: relative;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.values_list li {
    display: flex;
    align-items: center;
    gap: 0.3vh;
    padding: 0.25vh 0;
    margin-top: 0.2vh;
    line-height: 1;
}