/*
--------------------------------------------------

This file is part of PLUCK.
You are free to use these files within your own resources.
Please retain the original credit and attached MIT license.
Support honest development.

Author: Case @ BOII Development
License: https://github.com/boiidevelopment/pluck/blob/main/LICENSE
GitHub: https://github.com/playingintraffic/pluck

--------------------------------------------------
*/

/* Progress Container */
.progress_container {
    position: fixed;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1002;
    width: 25vw;
    height: auto;
    display: none;
    font-family: var(--header_font);
    padding: 1vh;
}

/* Progress Bar */
.progressbar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh 4vh;
    animation: fade-in 1s ease-in-out;
    background: var(--gradient_fade_center_darker);
    color: var(--text_primary);
    border-radius: var(--border_radius_inner);
    padding-bottom: 2vh;
}

.progressbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--accent), transparent);
    opacity: 0.8;
}

.progressbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--accent), transparent);
    opacity: 0.8;
}

/* Progress Bar Header */
.progressbar_header {
    display: flex;
    align-items: center;
    color: var(--text_primary);
    text-shadow: var(--text_shadow_hard);
}

.progressbar_header h3 {
    padding: 5px;
    font-size: 1.5rem;
    font-weight: normal;
}

/* Progress Bar Body */
.progressbar_body {
    width: 100%;
    height: 2vh;
    overflow: hidden;
    position: relative;
    display: flex;
    gap: 3px;
    padding: 0.1vh;
}

/* Segments */
.progress_segment {
    flex: 1;
    height: 100%;
    background: var(--accent);
    border-radius: var(--border_radius_inner);
    transition: opacity 0.5s linear;
    box-shadow: var(--inset_shadow_small);
}

.progress_segment_used {
    background: var(--background_main);
}