/*
--------------------------------------------------

This file is part of PLUCK.
You are free to use these files within your own resources.
Please retain the original credit and attached MIT license.
Support honest development.

Author: Case @ BOII Development
License: https://github.com/boiidevelopment/pluck/blob/main/LICENSE
GitHub: https://github.com/playingintraffic/pluck

--------------------------------------------------
*/

/* 
    Import Fonts 
    You can import fonts from external API's here; e.g. https://fonts.google.com
*/

@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wdth@75..100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* 
    Load Custom Fonts 
    You can load custom fonts here, place your font into correct folder and copy format below.
*/

/*
@font-face {
    font-family: "YourFont";
    src: url("/pluck/ui/assets/fonts/yourfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
*/